name: Generate Release Note

on:
  push:
    tags:
      - '*'

jobs:
  generate-release-notes:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Get Milestone Bug Issues
        id: milestone-bug-issues
        run: |
          milestone_number=2.0.1
          curl -sSL \
            -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            "https://api.github.com/repos/${{ github.repository }}/issues?q=milestone=${milestone_number}&labels=kind/bug" \
            > milestone-bug-issues.json
      - name: Generate Release Notes
        id: generate-release-notes
        run: |
          cat milestone-feature-issues.json
          milestone-feature-issues=$(cat milestone-feature-issues.json)
          release_notes="## â­ Feature"
          echo "Generated Release Notes:"
          echo "$release_notes"